# TODO: useless now?

#============= cameraserver ==============
allow cameraserver camera_data_file:unix_dgram_socket sendto;
allow cameraserver camera_data_file:unix_stream_socket connectto;
allow cameraserver camera_device:chr_file { ioctl open read write };

allow cameraserver ion_device:chr_file { ioctl open read };

allow cameraserver mm-qcamerad:unix_stream_socket connectto;

allow cameraserver credmgrd:unix_stream_socket connectto;
allow cameraserver credmgrd_socket:sock_file write;

