type sysfs_vibrator, fs_type, sysfs_type;

# TAD
type secd_socket, file_type;
type secd_data_file, file_type;

# idd
type iddd_file, file_type, data_file_type;

# BRCM BT FM
type brcm_ldisc_sysfs, sysfs_type, fs_type;
type brcm_uim_exec, exec_type, file_type;
