init_daemon_domain(scd)

allow scd sysfs_rtc:dir search;
allow scd sysfs_rtc:file r_file_perms;
allow scd camera_socket:dir rw_dir_perms;
allow scd camera_socket:sock_file create_file_perms;

# Needed to create /data/scd
allow scd scd_data_file:dir create_dir_perms;
allow scd scd_data_file:file create_file_perms;
