#
# Copyright (C) 2017 The LineageOS Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and 
# limitations under the License.
#

on init
	export LD_SHIM_LIBS " \
/system/bin/credmgrd|libshims_signal.so \
:/system/bin/iddd|libshims_idd.so \
:/system/bin/suntrold|libshims_signal.so \
:/system/lib/hw/camera.qcom.so|libsonycamera.so \
"

on early-fs
    wait /dev/block/mmcblk0p1
    class_start trimarea
    exec u:r:qti_init_shell:s0 -- /sbin/wait4tad_static

on early-boot
    #SONY early boot
    start ta_qmi_service
    start sct_service

on boot
    # PM8941 flash
    chown media system /sys/class/misc/pm8941-flash/device/current1
    chown media system /sys/class/misc/pm8941-flash/device/current2
    chown media system /sys/class/misc/pm8941-flash/device/fault_status
    chown media system /sys/class/misc/pm8941-flash/device/fine_current1
    chown media system /sys/class/misc/pm8941-flash/device/fine_current2
    chown media system /sys/class/misc/pm8941-flash/device/flash_timer
    chown media system /sys/class/misc/pm8941-flash/device/mask_clamp_current
    chown media system /sys/class/misc/pm8941-flash/device/mask_enable
    chown media system /sys/class/misc/pm8941-flash/device/max_current
    chown media system /sys/class/misc/pm8941-flash/device/mode
    chown media system /sys/class/misc/pm8941-flash/device/startup_delay
    chown media system /sys/class/misc/pm8941-flash/device/strobe
    chown media system /sys/class/misc/pm8941-flash/device/vph_pwr_droop

on post-fs
     # we will remap this as /mnt/sdcard with the sdcard fuse tool
     mkdir /data/misc/camera 0770 camera camera
     mkdir /data/misc/cameraserver 0700 cameraserver cameraserver

     # create directory for scd
     mkdir /dev/socket/scd 0755 system system
     mkdir /data/scd 0755 system system

on post-fs-data
    # SONY: Start early TA-users
    mkdir /data/etc 0755 root shell
    exec -- /system/bin/taimport

    # SONY: Create dir for Widevine keybox
    mkdir /data/persist/wv 0700 system system

    # SONY: Camera
    mkdir /data/camera 0770 media camera
    chown media camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown media camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info

    # SONY: Import MiscTA to System properties
    exec -- /system/bin/taimport property
    setprop init.taimport.ready true
    # taimport ready, use this as trigger for multi-cdf-symlinker

    # create credmgrinit log file
    touch /cache/credmgr.log
    restorecon -R /cache/credmgr.log
 
service taimport /system/bin/taimport
    class late_start
    user root
    group system
    oneshot

# This script init /cache/CredentialManagerData if /data/credmgr doesn't meet our requirements
service initcredmgr /system/bin/credmgrfirstboot.sh
    class late_start
    user system
    group credmgr_client
    oneshot

# When credmgrfirstboot is ready it set sys.credmgrdready=true.
# Start credmgrd after that
on property:sys.credmgrdready=true
start credmgrd

# Start Credential manager daemon
service credmgrd /system/bin/credmgrd
    user system
    group credmgr_client
    socket credmgr stream 0660 system credmgr_client
    disabled

# Secure Config Transfer service
service sct_service /system/bin/sct_service
    user root
    disabled
 
# Trim Area QMI service
service ta_qmi_service /system/bin/ta_qmi_service
    user ta_qmi
    group ta_qmi trimarea system root net_raw wakelock
    disabled

service scd /system/bin/scd
    class late_start
    user system
    group system

#service wvkbd_installer /system/bin/logwrapper /system/bin/wvkbd
service wvkbd_installer /system/bin/wvkbd
    user system
    group system
    oneshot
    disabled

# All services that use qseecomd daemon listeners should
# start on sys.listeners.registered property to make sure that
# all of its service listeners are registered before calling them
on property:sys.listeners.registered=true
    start wvkbd_installer

#service qcamerasvr /system/bin/logwrapper /system/bin/mm-qcamera-daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
#    group camera system inet input graphics
    group camera system inet input graphics credmgr_client cameraserver
#    seclabel u:r:mm-qcamerad:s0

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad_static /sbin/tad_static /dev/block/bootdevice/by-name/TA 0,16
#service tad_static /sbin/tad_static /data/credmgr/ta_part.bin 0,16
    class trimarea
    user tad
    group tad trimarea root
    socket tad stream 0770 system trimarea
# tad_static is in rootfs, normal file_context does not work
    seclabel u:r:tad:s0
service updatemiscta /system/bin/updatemiscta
    class main
    user updatemiscta
    group trimarea
    oneshot

