#This file includes specific shit for sony
# init.sony-platform.rc

on fs
    # SONY: create mount point for idd
    mkdir /idd 0751 idd idd

    # SONY: setup idd partition
    chown idd idd /idd
    chmod 0751 /idd
    exec u:r:qti_init_shell:s0 -- /system/bin/rm -r /idd/lost+found
    symlink /idd /mnt/idd
    restorecon_recursive   /idd

service iddd /system/bin/iddd
    class main
    user idd
    group idd log inet trimarea
