on boot
    # PM8941 flash
    chown media system /sys/class/misc/pm8941-flash/device/current1
    chown media system /sys/class/misc/pm8941-flash/device/current2
    chown media system /sys/class/misc/pm8941-flash/device/fault_status
    chown media system /sys/class/misc/pm8941-flash/device/fine_current1
    chown media system /sys/class/misc/pm8941-flash/device/fine_current2
    chown media system /sys/class/misc/pm8941-flash/device/flash_timer
    chown media system /sys/class/misc/pm8941-flash/device/mask_clamp_current
    chown media system /sys/class/misc/pm8941-flash/device/mask_enable
    chown media system /sys/class/misc/pm8941-flash/device/max_current
    chown media system /sys/class/misc/pm8941-flash/device/mode
    chown media system /sys/class/misc/pm8941-flash/device/startup_delay
    chown media system /sys/class/misc/pm8941-flash/device/strobe
    chown media system /sys/class/misc/pm8941-flash/device/vph_pwr_droop

    # Touch
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture
    chown system system /sys/devices/virtual/input/max1187x/wakeup_gesture

    # Glove input
    chown system system /sys/devices/virtual/input/clearpad/glove
    chown system system /sys/devices/virtual/input/max1187x/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/max1187x/glove
