# This file includes specific init configs used by Sony devices

on fs
    # SONY: create mount point for idd
    mkdir /idd 0751 oem_5987 oem_5987

    # SONY: setup idd partition
    chown oem_5987 oem_5987 /idd
    chmod 0751 /idd
    exec u:r:qti_init_shell:s0 -- /system/bin/rm -r /idd/lost+found
    symlink /idd /mnt/idd
    restorecon_recursive   /idd

on-post-fs-data
    mkdir /mnt/idd/lost+found 0770 root root
    mkdir /mnt/idd/output 0755 oem_5987 oem_5987
    mkdir /mnt/idd/socket 0711 oem_5987 oem_5987
    restorecon_recursive /mnt/idd

service iddd /system/bin/iddd
    class main
    user oem_5987
    group oem_5987 log inet oem_5993
