# This file includes specific init configs used by Sony devices

on fs
    # SONY: create mount point for idd
    mkdir /idd 0751 system system

    # SONY: setup idd partition
    chown system system /idd
    chmod 0751 /idd
    exec u:r:qti_init_shell:s0 -- /system/bin/rm -r /idd/lost+found
    symlink /idd /mnt/idd
    restorecon_recursive   /idd

on post-fs-data
    mkdir /idd/lost+found 0770 root root
    mkdir /idd/output 0755 system system
    mkdir /idd/socket 0711 system system
    restorecon_recursive /idd

service iddd /system/vendor/bin/iddd
    class main
    user system
    group system log inet cameraserver media
