on boot
    # Touch
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture
    chown system system /sys/devices/virtual/input/max1187x/wakeup_gesture

    # Glove input
    chown system system /sys/devices/virtual/input/clearpad/glove
    chown system system /sys/devices/virtual/input/max1187x/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/max1187x/glove

# TFA9890 AMP
service tfa9890_amp /system/bin/tfa9890_amp
    class late_start
    user root
    group root
    oneshot
